@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root{
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
}

body{
  font-family: 'Sora', sans-serif;
  line-height: 1.7;
  color: var(--body);
}

h1,
h2,
h3,
h4
.display-4{
  color: var(--body);
  font-weight: 700;
  margin: 10px;
}

a{
  color: var(--dark);
  text-decoration: none;
}

form{
max-width:270px;
margin-bottom:10px;
}

input[type="search"] {
width: 200px; 
height: 35px;
}

section{
  padding-top: 120px;
  padding-bottom: 120px;
}
.navbar .nav-link {
  color:#fff !important;
  font-size: 14;
  font-weight: 700;
}

main{
  margin-left: 100px;
  margin-right: 100px;
}

/*カルーセル */
.My_carousel_caption {
  font-size: 52px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  font-family: 'Lora', serif;
  line-height: 200px;
}

.My_carousel-item::before {
  content: url(../img/logoSymbol_White.png);
  display: block;
}

.carousel-item {
  height: 200px;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 200px;
  height: 300px;
}

table{
  padding-top: 10px;
}