@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root{
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
}

body{
  font-family: 'Sora', sans-serif;
  line-height: 1.7;
  color: var(--body);
}

h1,
h2,
h3,
h4
.display-4{
  color: var(--body);
  font-weight: 700;
}

a{
  color: var(--dark);
  text-decoration: none;
}

section{
  padding-top: 120px;
  padding-bottom: 120px;
}
.navbar .nav-link {
  color:#fff !important;
  font-size: 14;
  font-weight: 700;
}

.btn{
  padding: 14px 18px;
  border-width:2px;
  border-radius: 0;
}


table{
    background-color: #29a6a2; 
    border-collapse:separate;
    border-spacing: 5px;
  }

table.th{
    background-color: #d8f0ee;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
    color: rgb(223, 43, 43);
    border:solid 1px #927141;
  }
  