@charset "UTF-8";
body {
	font-size: 10px;
	color: #333;
	font-style: normal;
	font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', MS PGothic, sans-serif !important;
}
body, div, p, ul, ol,
li, dl, dt, dd,
table, th, td, img,
h1, h2, h3, h4, h5,
h6, form, select {
	margin: 0px;
	padding: 0px;
	text-align: left;
}
html {
	overflow-y: scroll;
}
* {
	word-break: break-all;
}
img {
	border: 0;
	vertical-align: middle;
}
ul, ol {
	list-style: none;
}
input, select {
	vertical-align: middle;
}
table, th, td {
	border-collapse: collapse;
	border-spacing: 0;
}
.cf, .cFix {
	*zoom: 1;
}
.cf:after,
.cFix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
* ht.marL body {
	font-size: x-small;
}
*:first-child + ht.marL body {
	font-size: x-small;
}
table {
	_font-size: 100%;
}
a:link {
	color: #1470CC;
	text-decoration: none;
}
a:visited {
	color: #802680;
	text-decoration: none;
}
a:active, a:hover {
	text-decoration: underline;
}
main{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
}
/* general class
-------------------------------------------------------------------------------*/
.padLR3 {
	padding: 0 3px !important;
}

.fcLRed {
	color: #E73820 !important;
}

.fs18 {
	font-size: 18px !important;
}
.bold, .strong {
	font-weight: bold !important;
}

.cb {
	clear: both !important;
}
.fl {
	float: left !important;
}
.fr {
	float: right !important;
}
.mR10 {
	margin-right: 10px !important;
}

/************* container *****************/
.mainContent {
	float: right;
	width: 720px;
}
.mainContentHeading {
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
}
.searchResultWrap {
	margin-top: 10px;
}
.searchResultWrap > p {
	font-size: 12px;
}
.searchResultPageLink {
	float: right;
}
.searchResultPageLink > li {
	float: left;
	font-size: 12px;
}
.searchResultPageLink > li ~ li {
	padding-left: 16px;
}
/************* ショップカセット *****************/
.shopDetailTop,
.compensationShopDetailTop {
	margin-top: 8px;
	padding-top: 5px;
  border: double 5px #4ec4d3;
}
.compensationShopDetailTop {
	margin-top: 20px;
}
.shopDetailTop ~ .shopDetailTop {
	margin-top: 20px;
}

.iconSaveList {
	float: right;
	padding-right: 3px;
}
.shopDetailInnerMiddle > .iconSaveList {
	position: absolute;
	top: 10px;
	right: 12px;
}
.shopDetailInnerTop {
	position: relative;
	padding-top: 5px;
}
.shopDetailCategory + .shopDetailInnerTop {
	margin-top: 7px;
}
.shopDetailInnerBottom {
	padding-bottom: 5px;
}
.shopDetailInnerMiddle {
	padding: 0 12px 7px;
}

.parentGenreName {
	margin-left: 2px;
	font-weight: bold;
}
.shopDetailFigureWrap {
	float: left;
	width: 182px;
}
.shopPhotoMain {
	width: 180px;
	height: 180px;
	border: 1px solid #DFDFDF;
	text-align: center;
}
.shopPhotoMain > a > img {
	max-width: 180px;
	max-height: 180px;
}
.shopDetailText {
	padding-left: 16px;
	overflow: auto;
}
.storeNamePrefix {
	font-size: 10px;
	font-weight: bold;
}
.storeNamePrefix + .shopDetailStoreName {
	margin-top: 5px;
}
.shopDetailStoreName {
	font-size: 18px;
}

.shopDetailStoreName > a {
	font-weight: bold;
}

.shopDetailInfo {
	margin-top: 5px;
}

.shopDetailInfo > li,ul{
	margin-top: 5px;
  margin-left: -19px;
}

.storeBudgetAverage {
	display: flex;
	margin-top: 10px;
	align-items: center;
}

.storeBudgetAverage .dinnerBudget,
.storeBudgetAverage .lunchBudget {
	height: 19px;
	padding-left: 27px;
	color: #666666;
	font-size: 12px;
	line-height: 19px;}

.storeBudgetAverage .dinnerBudget > img{
  width:30px;
  margin-left: -33px;
}
.storeBudgetAverage .lunchBudget > img{
  width:30px
}
.shopDetailInfoAccess >img{
  width: 30px;
}

.shopDetailInnerMiddle > .iconSaveList {
	right: 6px;
	top: 9px;
}
 .shopDetailCategory + .shopDetailInnerTop {
	margin-top: 0 !important;
}
.shopDetailGenreCatch {
	font-weight: normal;
	font-size: 12px;
	color: #333333;
}
.parentGenreName {
	margin-top: 5px;
	margin-left: 0;
	font-size: 12px;
}
.shopDetailInfo {
	margin-top: 10px;
}
.shopDetailInfo > li {
	color: #666666;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 12px;
	white-space: nowrap;
}
.shopDetailCourseTitleWrap {
	padding-right: 110px;
}