@charset "UTF-8";

body, div, p, ul, ol,
li, dl, dt, dd,
img,
h1, h2, h3, h4, h5,
h6, form, select {
	margin: 0px;
	padding: 0px;
	text-align: left;
}
html {
	overflow-y: scroll;
}

img {
	border: 0;
	vertical-align: middle;
}

a{
color: #393838;
}

a:link {
	color: #1470CC;
	text-decoration: none;
  border:#0e0f0b;
}

.d{
  font-size: 15px;
}
.bold, .strong {
  font-weight: bold !important;
}

.headerWrap {
    margin: 0 0 30px;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: left;
}
.header {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 980px;
  height: auto;
}
.headerCover {
  position: relative;
  margin-left: -30px;
}
.coverImg {
  width: 1020px;
  height: 400px;
  object-fit: cover; 
}
.headerCoverInfo {
  position: absolute;
  bottom: 15px;
  left: 170px;
  width: 47%;
}
.headerCoverActions {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
}
.cLinkArrow {
  display: inline-block;
  cursor: pointer;
}
.cLinkArrow.disabled.disabled {
  color: #b4b4b4;
  cursor: default;
}

.pageName {
  color: #0e0f0b;
  font-weight: bold;
  font-size: 134%;
  text-shadow: 0 1px 1px rgb(0 0 0 / 50%);
}

/* contents */
.headerContents {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 5rem;
  margin-left: 250px; 
  margin-top: -30px;

}
.headerContentsImgWrap {
  display: table-cell;
  padding-bottom: 11px;
  padding-left: 20px;
  width: 1%;
  vertical-align: top;
}
.headerContentsImg.headerContentsImgl {
  margin-top: -60px;
}
.headerContentsImg {
  position: relative;
}
.imgBox.imgBoxl {
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
}
.ImgBox {
  position: relative;
  border: 1px solid #ebe8e6;
  box-sizing: border-box;
  background: #ffffff;
}

.imgBoxl img {
  border-radius: 10px;
}
.imgBoxReimage {
  display: none;
  position: absolute;
  top: 6px;
  right: 6px;
  overflow: hidden;
}
.imgBoxReimageFile {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 200%;
  opacity: 0;
}
.headerContentsImgl .headerContentsImgCover {
  border-radius: 10px;
}
.headerContentsImgCover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #ffffff;
}
.headerContentsInfo {
  padding: 10px 20px 20px;
  display: table-cell;
  vertical-align: top;
}
.status {
  display: table;
  width: 100%;
}
.statusItem {
  display: table-cell;
  vertical-align: top;
}
.statusNickname {
  margin-right: 0.2em;
}
.Nickname {
  color: #13131e;
  font-weight: bold;
  line-height: 1.3;
}
.fs18 {
  font-size: 150%;
}
/* nav */
.navList {
	display: table;
	width: 1050px;
  height: 50px;
	table-layout: fixed;
	z-index: 70;
  margin-left: 170px;
  text-decoration: underline;
}
.navList > li {
	display: table-cell;
	position: relative;
	background: #FFF;
	border-top: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
	line-height: 1;
	z-index: 50;
	box-sizing: border-box;
}
.navList > li a{
	color: #4E4E4E;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
}
.navList > li > a:visited {
	color: #4E4E4E;
}

.navList > li > a {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
  border-right: 1px solid #E0E0E0; 
}
.backTop{
  padding-left: 100px;
}
