
label{
  color: #D3C8B1;
}

.reviewTitle{
	position: relative;
  color: #13131e;
  font-weight: bold;
  font-size: 15px;
  padding-left: 17px;
  padding-top: 10px;
  border-top: #13131e solid;
}

.reviewTitle > h2:before {
	background: linear-gradient(to bottom, #995E0B, #F4BB5D);
	background: -webkit-linear-gradient(top, #995E0B, #F4BB5D);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#995E0B', endColorstr='#F4BB5D', GradientType=0);
}

.reviewContainer {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.reviewContainer > p {
  color: #ccc;
}

.reviewContainer .faceicon {
float: left;
margin-right: -90px;
margin-left: 10px;
width: 80px;
}

.reviewContainer .faceicon img{
width: 90%;
height: auto;
border: solid 1px #f1ebeb;
border-radius: 50%;;
background-color: #f1ebeb;
}

.reviewContainer .chatting {
width: 100%;
}

.userName{
  color: #ccc;
}

.comment {
display: inline-block;
position: relative; 
margin: 5px 0 0 105px;
padding: 17px 13px;
border-radius: 12px;
background: #fffaf0;
width: 100%;
}

.comment:after {
content: "";
display: inline-block;
position: absolute;
top: 18px; 
left: -24px;
border: 12px solid transparent;
border-right: 12px solid #fffaf0;
}

.comment p {
margin: 0;
padding: 0;
}

.comment img {
float: right;
padding: 2px;
margin-right: 100px;
}

.faceicon p {
text-align:center;
}

textarea {
width: 80%;
border-radius: 10px;
}

.reviewComment{
  color: #ccc;
  font-size: 15px;
  text-align: center;
}

/* スコア入力の★ */
.evaluation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.evaluation input[type='radio']{
  display: none;
}
.evaluation label{
  position: relative;
  padding: 10px 10px 0;
  color: #ccc;
  cursor: pointer;
  font-size: 30px;
}
.evaluation label .text{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  color: rgb(3, 2, 2);
}
.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label{
  color: #ffcc33;
}

/* スコア表示の★ */
.starRating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;

}
.starRatingFront {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.starRatingBack {
  color: #ccc;
}
