{% load django_bootstrap5 %}
{% load static %}

<header>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'myapp/css/search.css' %}">
  <title>portfolio</title> 
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</header>

<body>
{% include 'myapp/content.html' %}
   
    <!--検索結果　-->
    <section id="search" class="bg-light">
      <div class="container">
        <div class="row">
          {% if myapp %}
          <h1 class="mainContentHeading">「{{keyword}}」で検索したグルメ情報</h1>
        </div>
      </div>
    </section>

  <main>    
    {% for Restaurant in myapp %}
  <div class="shopDetailTop">
   <div class="shopDetailBottom">
    <div class="shopDetailMiddle">
     <div class="shopDetailInnerTop">
      <div class="shopDetailInnerBottom">
       <div class="shopDetailInnerMiddle">
          <div class="shopDetailCoreInner cf">
            <div class="shopDetailFigureWrap">
              <div class="jscDropDownFigureTrigger shopDetailFigure">
                <div class="shopPhotoMain">
                  <a href="{% url 'myapp:detail' Restaurant.id  %}"><img src="https://imgfp.hotp.jp/IMGH/09/00/P033840900/P033840900_238.jpg"/></a></div>
                </div>
            </div>
            <div class="shopDetailText">
              <p class="parentGenreName">{{Restaurant.id}} ・　{{keyword}}</p>
              <p class="storeNamePrefix fcGray">ランチ　ディナー　食べ放題　記念日　バースデー　記念日　ヤフオクドーム　点心</p>
              <h3 class="shopDetailStoreName">
              <a href="{% url 'myapp:detail' Restaurant.id  %}"><onclick="return clickLogsRedirect('J000875790', '1', '/strJ000875790/');">{{Restaurant.name}}</a></h3>
              <p class="shopDetailGenreCatch">中華　ヒルトン　望海楼　飲茶　個室　宴会</p>
              <div class="storeAccess">
                <p class="storeAccess">{{ Restaurant.access }}</p>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
      </div>
      {%endfor%}
      {% else %}
      <div class="row">
          <div class="col-lg-12">    
              <p>該当するものはありません。</p>
          </div>
      </div>
      {% endif %}
     </div>
   </div>
  </main>
  </body>  
 