@charset "UTF-8";
html {
	overflow-y: scroll;
}

html, body, div,
span, h1, h2, h3, h4,
h5, h6, p, a,
img, ul, li{
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: normal;
}
h1, h2, h3, h4, h5,
h6, p, li{
	color: #35363F;
}

li {
	list-style: none;
}
img, input, select {
	vertical-align: middle;
}

a, img {
	border: none;
}
a:link, a:hover,
a:active {
	color: #1470CC;
}
a:link {
	text-decoration: none;
}
a:visited {
	color: #802680;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}
.backTop{
  margin-left: 500px;
}

.cFix:after,
.cf:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.inner {
	width: 1000px;
	margin: 0 auto;
}

.explain {
	color: #666666;
}

.navList {
	display: table;
	width: 1250px;
  height: 50px;
	table-layout: fixed;
	z-index: 70;
  margin-left: -32px;
}
.navList > li {
	display: table-cell;
	background: #FFF;
	border-top: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
	line-height: 1;
	z-index: 50;
	box-sizing: border-box;
}
.navList > li a{
	color: #4E4E4E;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
}
.navList > li > a:visited {
	color: #4E4E4E;
}

.navList > li > a {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
  border-right: 1px solid #E0E0E0; 
}
