.mapContainer{
position: relative;
margin-left: 15px;
border-top: solid #13131e;

}
.mapTitle{
  overflow: hidden;
  color: #13131e;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  word-break: break-all;
  flex: 1;
}
